<div class="container-fluid">
  <div class="row-fluid">
    <div class="row"><h1>Ariel Salem</h1></div>
    <div class="row">
      <div class="col col-xs-12 col-md-3">
        <img class="profile" src="../../images/Profile.jpg"/>
      </div>
      <div class="col col-xs-12 col-md-8">
        <p> Here is a description of who I am</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-sm-12 col-md-6">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="user.email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            <textarea rows="6"  cols="50" type="password" class="form-control" id="exampleInputPassword1" placeholder="I love you work!" ng-model="user.password"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile" ng-model="user.file">
            <p class="help-block">Example block-level help text here.</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="user.checked"> Check me out
            </label>
          </div>
          <button type="submit" class="btn btn-default" ng-click="submit(user)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
